<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>keep</title>
    <link rel="stylesheet" href="/src/css/user/reset.css">
    <link rel="stylesheet" href="/src/css/user/style.css">
</head>
<body>
    <header>
        <img src="/src/img/user/logo.png" alt="">
        <nav>
            <ul>
                <li><a href="">就活サイト</a></li>
                <li><a href="">就活支援サービス</a></li>
                <li><a href="">自己分析診断ツール</a></li>
                <li><a href="">ES添削サービス</a></li>
                <li><a href="">就活エージェント</a></li>
                <li><a href="">就活の教科書とは</a></li>
                <li><a href="">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>

    <wrapper>
            <container class="filter keep_container" id="js-filter">
                <div class="filter_left_wrapper">
                    <div class="filter-cond" >
                            <p class="filter_num"><span>5</span>件</p>
                    </div>
                </div>

                <h1 class="keep_view">キープ一覧</h1>
                <ul class="filter-items">
                    
                </ul>

                <div class="filter_right_wrapper">
                    <btn class="keep_btn" >
                        <div class="button05">
                            <a href="/src/view/user/keep.html"><button class="bn632-hover bn19 " >キープ：<span id="keep_counter">０</span>件<br>問い合わせる</button></a>
                        </div>
                    </btn>
                </div>
            </container>

    </wrapper>

    
</body>
</html>