html{
    font-size: 6.25%;
}



/* ヘッダー */
header{
    background-color: #4fa49a;
    height: 100rem;
    width: 100%;
    font-size: 18rem;
    text-align: center;
    padding-bottom: 20rem;
}

header nav ul {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

header nav ul li a {
    color: white;
    padding-right: 15rem;
    font-weight: bold;
    text-decoration: none;
}

.first_message{
    text-align: center;
    margin: 30rem auto;
    margin-top: 100rem;
}

.first_message h1{
    font-size: 60rem;
    margin: 10rem auto;
    font-weight: bold;
}

.first_message h2{
    font-size: 30rem;
    margin: 18rem auto;
}

.first_message p{
    font-size: 20rem;
    margin: 15rem auto;
}

.process{
    height: 80rem;
    width: 80%;
    /* display: flex; */
    justify-content: center;
    display:table;
    text-align: center;
    margin: auto;
    margin-top: 140rem;
    margin-bottom: 140rem;
}

.process p{
    height: 50rem;
    width: 13%;
    background-color: #4FA49A;
    color: white;
    text-align: center;
    font-size: 20rem;
    display: table-cell;
    vertical-align: middle;
    border-radius: 20rem;
}

.arrow {
    display:inline-block;
    height:30px;
    width:80px;
    background-color:#5bc0de;
    position:relative;
    margin: 0 55rem;
    margin-top: 22rem;
  }
  
  .arrow:before {
    position:absolute;
    content:"";
    width:0;
    height:0;
    border:40rem solid transparent;
    border-left:40rem solid #5bc0de;
    left:60rem;
    top:-27rem;
    margin-top: 2rem;
  }

.q_and_a{
    margin: 0 auto;
    text-align: center;
    height: 250rem;
    width: 60%;
    background-color: #4FA49A;
    border-radius: 20rem;
    color: white;
    font-size: 20rem;
    padding: 30rem ;
}

.q_and_a p{
    margin-top: 10rem;
}

.q_and_a .reason{
    margin-top: 10rem;
    text-align: left;
    margin-left:200rem;
}

.multiples{
    font-size: 25rem;
    text-decoration: underline;
}




/* 絞り込み */
[data-filter-view]:not([data-filter-view=""]) [data-filter-key] {
    display: none;
}
[data-filter-view][data-filter-view~="総合型"] [data-filter-key="総合型"],
[data-filter-view][data-filter-view~="大手志望"] [data-filter-key="大手志望"] {
    display: block;
}

container{
    margin-top: 200rem;
    display: flex;
    justify-content: center;
    overflow: scroll;

}
.filter{
    display: flex;
    flex-direction: row;
    padding-top: 300rem;
}

.filter_num{
    margin-bottom: 30rem;
    display: flex;
    justify-content: flex-end;
}

.filter_num span{
    color: #FFA628;
    /* font-size: 40rem; */
    font-weight: 600;
    text-decoration: underline;
}

.agents_type p{
    font-size: 25rem;
}

.agents_type p label{
    font-size: 20rem;
}

.agents_scale p{
    margin-top: 15rem;
    font-size: 25rem;
}

.filter_btn{
    display: flex;
    justify-content: space-between;
    font-size: 25rem;
    margin-top: 20rem;
}

.filter_btn button{
    width: 120rem;
    height: 50rem;
    border-radius: 20rem;
}

.reset_btn{
    background-color: #FFCD2A;
    /* border-color: white; */
    border-style: none;
}

.all_btn{
    background-color: #FFA628;
    border-style: none;
}

#filter_side.fixed {
    left: 64rem;
    position: fixed;
    top: 50rem;
}

.filter_left_wrapper{
    width: 250rem;
    padding-left: 52rem;
    padding-right: 20rem;
    padding-top: 150rem;
    background-color: #4FA49A;
}

.filter_right_wrapper{
    width: 250rem;
    margin-top: 50rem;
}


.all_keep{
    background-color: #E75515;
    color: white;
    font-weight: 800;
    width: 200rem;
    height: 80rem;
    font-size: 20rem;
    margin-left: 80rem;
    margin-bottom: 30rem;
    border-radius: 20rem;
    border-style: none;
}


/* 各エージェントのボックス */
.agent_box{
    /* display: flex; */
    /* justify-content: center; */
    margin: 2rem auto;
    padding: 1em;
    width: 700rem;
    color: #666666; /*文字色*/
    /* border: 3px solid #4fa49a;  */
    background-color: #fff; /*背景色*/
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.25); /*影*/
    border-radius: 20px; /*角の丸み*/
    height: 500rem;
    margin-bottom: 150rem;
    margin-left: 80rem;
    margin-right: 80rem;
    transform: scale(0.9, 0.9);
}

.agent_article{
    padding: 15rem;
}

.agent_article_header{
    display: flex;
    justify-content: space-between;
}

.agent_img{
    display: flex;
    justify-content: center;
    width:700rem;
    height: 150rem;
    border-radius: 20rem;
}

.agent_name{
    font-size: 30rem;
    margin-bottom: 15rem;
}

.num_company{
    font-size: 20rem;
}

.agent_article_main{
    margin-left: 15rem;
}

.recommend_points{
    font-size: 20rem;
    margin-bottom: 5rem;
}

.recommend_points_box{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #4fa49a;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    height: 30rem;
    margin-bottom: 15rem;
}

.recommend_points_box p{
    margin: 0; 
    padding: 0;
}

.span_published{
    font-size: 20rem;
    margin-top: 20rem;
}

.agent_article_footer{
    display: flex;
    justify-content: space-between;
    margin-top: 15rem;
}

.agent_type{
    font-size: 20rem;
}

.agent_article_footer button{
    background-color: #FFA628;
    font-size: 20rem;
    width: 200rem;
    border-radius: 20rem;
    /* border-style: none; */
}

.agent_article_footer .bn632-hover{
    height: 40rem;
}

/* キープボタン */
.bn632-hover {
    width: 200rem;
    /* height: 40rem; */
    font-size: 20rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    /* margin: 20px; */
    /* height: 55px; */
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn19 {
    background-image: linear-gradient(
      to right,
      #f5ce62,
      #e43603,
      #fa7199,
      #e85a19
    );
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.25);
  }

  .cursor{
    cursor: pointer;
  }


  #keep_btn.fixed {
    right: 63rem;
    position: fixed;
    top: 0;
    /* margin-top: 55rem; */
    margin-left: 20rem;
}

  .keep_btn .bn632-hover{
      margin-top: 550rem;
      font-weight: 300;

  }

  .keep_btn span{
      font-weight: 600;
      font-size: 25rem;
  }


  /* 詳細のモーダル */

  .modal_wrap input {
    display: none;
  }
  
  .modal_overlay {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
  }
  
  .modal_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .modal_content {
      border-radius: 20rem;
      font-size: 20rem;
      align-self: center;
      width: 60%;
      padding: 30px 30px 15px;
      box-sizing: border-box;
      background: #fff;
      line-height: 1.4em;
      transition: 0.5s;
  }
  
  .modal_content p {
    padding-top: 0;
  }
  
  .close_button {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal_wrap input:checked ~ .modal_overlay {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
  }
  
  .modal_wrap input:checked ~ .modal_overlay .modal_content {
    transform: translateY(20px);
  }
  
  .open_button {
     color: white;
      background-color: #4fa49a;
      /* font-weight: bold; */
      text-align: center;
      cursor :pointer;
      transition: all 0.3s;
      display: block;
      /* margin-top: 40px; */
      margin-bottom: 1px;
      padding: 12px 2px;
      max-width:300px;
      text-decoration: none;
      width: 150rem;
      border-radius: 20rem;
      font-size: 20rem;
      margin-left: 170rem;
      height: 20rem;
  }
  
  .open-button:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(2px);
    transform: translateY(2px);/*下に動く*/
  
  }
  
  /*アイコンを表示*/
  .open-button:after {
  font-family: "Font Awesome 5 Free";
    content: "\f2d0";
      padding-left: 8px;
  }
  
  /*ラベルホバー時*/
  .open-button:hover {
    color: #FFFFFF;
    background-color: #4fa49a;
    transition: .6s;
  }
  
  .modal_title2 {
    font-size: 1.5em;
      position: relative;
      overflow: hidden;
    padding-bottom: 10px;
    margin-top:0;
    margin-bottom: 0;
  }
  
  .modal_title2::before,
  .modal_title2::after{
      content: "";
      position: absolute;
      bottom: 0;
  }
  
  /* h2 プライマリカラー*/
  .modal_title2:before{
      border-bottom: 4px solid #4fa49a;
      width: 100%;
  }
  /* h2 セカンダリカラー*/
  .modal_title2:after{
      border-bottom: 4px solid #EEEEEE;
      width: 100%;
  }




  /* キープ一覧 */
  .keep_view{
      font-size: 50rem;
      text-align: center;
      margin-top: 20rem;
  }

  .keep_container{
      margin-top: 0;
      padding-top: 0;
  }

  .keep_btn .keep_inquiry_btn{
      margin-top: 80rem;
  }

  .keep_left{
      font-size: 50rem;
  }

  #keep_agent_box{
      /* display: none; */
  }



  /* キープ一覧のモーダル */
  /* .modal_wrap input {
    display: none;
  } */
  
  .modal_overlay {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
  }
  
  .modal_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .modal_keep .modal_content {
      border-radius: 20rem;
      font-size: 20rem;
      align-self: center;
      width: 95%;
      padding: 30px 30px 15px;
      box-sizing: border-box;
      background: #fff;
      line-height: 1.4em;
      transition: 0.5s;
  }
  
  .modal_content p {
    padding-top: 0;
  }
  
  .close_button {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal_wrap input:checked ~ .modal_overlay {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
  }
  
  .modal_wrap input:checked ~ .modal_overlay .modal_content {
    transform: translateY(20px);
  }

  .modal-filter-items{
    transform: scale(0.7, 0.7);
  }

  .delete_btn {
    color: white;
     background-color: #FF3366;
     font-weight: bold;
     text-align: center;
     cursor :pointer;
     transition: all 0.3s;
     display: block;
     /* margin-top: 40px; */
     margin-bottom: 1px;
     padding: 12px 2px;
     max-width:300px;
     text-decoration: none;
     width: 150rem;
     border-radius: 20rem;
     font-size: 20rem;
     margin-left: 500rem;
     height: 20rem;
 }